<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question List</title>
</head>
<body>
    <h2>Hello Template</h2>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="question : ${questionList}">
                <td>
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                </td>
                <td th:text="${question.createDate}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>